{
  "openapi": "3.0.1",
  "info": {
    "title": "Content APIs",
    "description": "Quran.Foundation Content APIs offer programmatic access to the Quran's core content like chapters, verses, recitations, translations, and more, distinct from user-specific data like notes and bookmarks provided by [User-related APIs](/docs/category/user-related-apis).\n\n:::important Integrity of Translations\nPlease **disable any automatic browser-translation features** (e.g. Google-Translate-in-Chrome) when displaying text returned by the *Translations* endpoints.  \nRe-translating an already vetted Quranic translation can introduce serious semantic errors.\n:::\n\n ## How to get access \n\n We are using OAuth2 flows to authenticate and authorize requests. To get started, you need to [get an access token](/docs/tutorials/oidc/getting-started-with-oauth2#obtaining-oauth-20-client-credentials) to make requests to our APIs. Since the APIs are not user-related, you will need to use the `client_credentials` grant type and [`content` scope](/docs/user_related_apis_versioned/scopes#content) when sending a request to [The OAuth 2.0 Token Endpoint](/docs/oauth2_apis_versioned/oauth-2-token-exchange) to get the access token. \n\n```mermaid\nsequenceDiagram\n    participant App as Your App\n    participant Auth as Quran.Foundation<br/>Authorization Server\n    participant API as Quran.Foundation<br/>Resources Server\n\n    App->>Auth: Request Token with Client Credentials\n    Auth-->>App: Token Response (access_token)\n    App->>API: Use token to call API\n    API-->>App: Requested resource\n\n    Note over App,Auth: Access token expires (1 hour)\n\n    App->>Auth: Re-issue access_token using client_credentials\n    Auth-->>App: New access_token\n```\n\n After getting a valid access token, each request to get resources will have to include 2 headers mentioned below: `x-auth-token` and `x-client-id`. This spec also includes a small subset of Quran Reflect post-read endpoints that are compatible with the `client_credentials` grant. These operations still require `x-auth-token` and `x-client-id`, but they do not use the `content` scope. Use `post.read` for `/quran-reflect/v1/posts/feed`, `/quran-reflect/v1/posts/{id}`, and `/quran-reflect/v1/posts/user-posts/{id}`. Use `comment.read` for `/quran-reflect/v1/posts/{id}/comments` and `/quran-reflect/v1/posts/{id}/all-comments`. These are Quran Reflect gateway endpoints, not `/content/api/v4/...` endpoints.",
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://apis-prelive.quran.foundation/content/api/v4",
      "description": "Pre-production Server"
    },
    {
      "url": "https://apis.quran.foundation/content/api/v4",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "x-auth-token": [],
      "x-client-id": []
    }
  ],
  "paths": {
    "/chapter_recitations/{id}/{chapter_number}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Get chapter's audio file of a reciter",
        "description": "Get chapter's audio file of a reciter. Supports `segments` (boolean query param; default `false`). When `segments=true`, verse-level timestamp entries include `segments` ([word_index, start_ms, end_ms]). All time values are milliseconds.",
        "operationId": "chapter-reciter-audio-file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "chapter_number",
            "in": "path",
            "description": "The number of the chapter",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, each verse timestamp includes a `segments` array of [word_index, start_ms, end_ms] triplets. Time values are in milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterReciterAudioFileResponse"
                },
                "examples": {
                  "default_no_segments": {
                    "summary": "segments=false (default)",
                    "value": {
                      "audio_file": {
                        "id": 457,
                        "chapter_id": 1,
                        "file_size": 710784,
                        "format": "mp3",
                        "audio_url": "https://download.quranicaudio.com/qdc/abu_bakr_shatri/murattal/1.mp3"
                      }
                    }
                  },
                  "with_segments_true": {
                    "summary": "segments=true (includes timestamps + segments)",
                    "value": {
                      "audio_file": {
                        "id": 457,
                        "chapter_id": 1,
                        "file_size": 710784,
                        "format": "mp3",
                        "audio_url": "https://download.quranicaudio.com/qdc/abu_bakr_shatri/murattal/1.mp3",
                        "timestamps": [
                          {
                            "verse_key": "1:1",
                            "timestamp_from": 0,
                            "timestamp_to": 6493,
                            "duration": -6493,
                            "segments": [
                              [
                                1,
                                0,
                                630
                              ],
                              [
                                2,
                                650,
                                1570
                              ],
                              [
                                3,
                                1570,
                                3110
                              ],
                              [
                                4,
                                3110,
                                5590
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:2",
                            "timestamp_from": 6493,
                            "timestamp_to": 11546,
                            "duration": -5053,
                            "segments": [
                              [
                                1,
                                6493,
                                7243
                              ],
                              [
                                2,
                                7243,
                                8123
                              ],
                              [
                                3,
                                8143,
                                8723
                              ],
                              [
                                4,
                                8723,
                                11193
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:3",
                            "timestamp_from": 11546,
                            "timestamp_to": 15985,
                            "duration": -4439,
                            "segments": [
                              [
                                1,
                                11546,
                                12806
                              ],
                              [
                                2,
                                12916,
                                15366
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:4",
                            "timestamp_from": 15985,
                            "timestamp_to": 21521,
                            "duration": -5536,
                            "segments": [
                              [
                                1,
                                15985,
                                16505
                              ],
                              [
                                2,
                                16705,
                                17235
                              ],
                              [
                                3,
                                17265,
                                19155
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:5",
                            "timestamp_from": 21521,
                            "timestamp_to": 27835,
                            "duration": -6314,
                            "segments": [
                              [
                                1,
                                21521,
                                22591
                              ],
                              [
                                2,
                                22591,
                                23471
                              ],
                              [
                                3,
                                23631,
                                25001
                              ],
                              [
                                4,
                                25001,
                                27391
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:6",
                            "timestamp_from": 27835,
                            "timestamp_to": 33388,
                            "duration": -5553,
                            "segments": [
                              [
                                1,
                                27835,
                                28265
                              ],
                              [
                                2,
                                28265,
                                29405
                              ],
                              [
                                3,
                                29405,
                                32545
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:7",
                            "timestamp_from": 33388,
                            "timestamp_to": 53092,
                            "duration": -19704,
                            "segments": [
                              [
                                1,
                                33388,
                                34338
                              ],
                              [
                                2,
                                34338,
                                35448
                              ],
                              [
                                3,
                                35518,
                                36698
                              ],
                              [
                                4,
                                36718,
                                38678
                              ],
                              [
                                5,
                                38678,
                                39608
                              ],
                              [
                                6,
                                39628,
                                41638
                              ],
                              [
                                7,
                                41638,
                                43778
                              ],
                              [
                                8,
                                43778,
                                44218
                              ],
                              [
                                9,
                                44338,
                                51818
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get chapter's audio file of a reciter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, chapter_number, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapter_recitations/${id}/${chapter_number}`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", \"1\", {\"segments\":\"true\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get chapter's audio file of a reciter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, chapter_number, segments=None):\n    params = {k: v for k, v in {'segments': segments}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapter_recitations/{id}/{chapter_number}',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", \"1\", segments=\"true\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "// Get chapter's audio file of a reciter\npackage main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"net/url\"\n)\n\nconst API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nconst ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nconst CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunc callApi(id string, chapter_number string, params map[string]string) (string, error) {\n  path := fmt.Sprintf(\"/chapter_recitations/%s/%s\", id, chapter_number)\n  endpoint := API_BASE_URL + path\n  if params != nil && len(params) > 0 {\n    values := url.Values{}\n    for k, v := range params {\n      values.Set(k, v)\n    }\n    endpoint = endpoint + \"?\" + values.Encode()\n  }\n\n  req, err := http.NewRequest(\"GET\", endpoint, nil)\n  if err != nil {\n    return \"\", err\n  }\n  req.Header.Set(\"x-auth-token\", ACCESS_TOKEN)\n  req.Header.Set(\"x-client-id\", CLIENT_ID)\n\n  resp, err := http.DefaultClient.Do(req)\n  if err != nil {\n    return \"\", err\n  }\n  defer resp.Body.Close()\n\n  body, err := io.ReadAll(resp.Body)\n  if err != nil {\n    return \"\", err\n  }\n  return string(body), nil\n}\n\n// Example usage\nfunc main() {\n  params := map[string]string{\"segments\": \"true\"}\n  data, err := callApi(\"7\", \"1\", params)\n  if err != nil {\n    fmt.Println(\"Error:\", err)\n    return\n  }\n  fmt.Println(data)\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "# Get chapter's audio file of a reciter\nrequire \"net/http\"\nrequire \"uri\"\n\nAPI_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nCLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\ndef call_api(id, chapter_number, params = {})\n  path = \"/chapter_recitations/#{id}/#{chapter_number}\"\n  uri = URI(API_BASE_URL + path)\n  uri.query = URI.encode_www_form(params) if params && !params.empty?\n  request_class = Net::HTTP.const_get(\"Get\")\n  request = request_class.new(uri)\n  request[\"x-auth-token\"] = ACCESS_TOKEN\n  request[\"x-client-id\"] = CLIENT_ID\n\n  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\n  end\n\n  response.body\nend\n\n# Example usage\nparams = { \"segments\" => \"true\" }\ndata = call_api(\"7\", \"1\", params)\nputs data"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "// Get chapter's audio file of a reciter\nusing System;\nusing System.Collections.Generic;\nusing System.Linq;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nconst string API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\nconst string ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\nconst string CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\nstatic async Task<string> CallApiAsync(string id, string chapter_number, Dictionary<string, string> query = null)\n{\n    var path = $@\"/chapter_recitations/{id}/{chapter_number}\";\n    var url = API_BASE_URL + path;\n    if (query != null && query.Count > 0)\n    {\n        var queryString = string.Join(\"&\", query.Select(kvp =>\n            $\"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}\"));\n        url = $\"{url}?{queryString}\";\n    }\n    using var client = new HttpClient();\n    using var request = new HttpRequestMessage(new HttpMethod(\"GET\"), url);\n    request.Headers.Add(\"x-auth-token\", ACCESS_TOKEN);\n    request.Headers.Add(\"x-client-id\", CLIENT_ID);\n\n    using var response = await client.SendAsync(request);\n    response.EnsureSuccessStatusCode();\n    return await response.Content.ReadAsStringAsync();\n}\n\n// Example usage\nvar query = new Dictionary<string, string> { {\"segments\", \"true\"} };\nvar data = await CallApiAsync(\"7\", \"1\", query);\nConsole.WriteLine(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "# Get chapter's audio file of a reciter\n<?php\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nfunction callApi($id, $chapter_number, $params = []) {\n  $path = sprintf(\"/chapter_recitations/%s/%s\", $id, $chapter_number);\n  $url = API_BASE_URL . $path;\n  if (!empty($params)) {\n    $url .= '?' . http_build_query($params);\n  }\n  $ch = curl_init($url);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\n  curl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-auth-token: ' . ACCESS_TOKEN,\n    'x-client-id: ' . CLIENT_ID\n  ]);\n\n  $response = curl_exec($ch);\n  if ($response === false) {\n    throw new Exception(curl_error($ch));\n  }\n  curl_close($ch);\n  return $response;\n}\n\n// Example usage\n$params = ['segments' => 'true'];\n$data = callApi(\"7\", \"1\", $params);\necho $data;\n?>"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "// Get chapter's audio file of a reciter\nimport java.io.IOException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\npublic class Main {\n  private static final String API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\n  private static final String ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\n  private static final String CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\n  public static String callApi(String id, String chapter_number, Map<String, String> params) throws IOException {\n    String path = String.format(\"/chapter_recitations/%s/%s\", id, chapter_number);\n    HttpUrl.Builder urlBuilder = HttpUrl.parse(API_BASE_URL + path).newBuilder();\n    if (params != null) {\n      for (Map.Entry<String, String> entry : params.entrySet()) {\n        urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n      }\n    }\n    String method = \"GET\";\n    RequestBody requestBody = method.equals(\"GET\") ? null : RequestBody.create(new byte[0]);\n    Request request = new Request.Builder()\n      .url(urlBuilder.build())\n      .addHeader(\"x-auth-token\", ACCESS_TOKEN)\n      .addHeader(\"x-client-id\", CLIENT_ID)\n      .method(method, requestBody)\n      .build();\n\n    OkHttpClient client = new OkHttpClient();\n    Response response = client.newCall(request).execute();\n    return response.body().string();\n  }\n\n  public static void main(String[] args) throws Exception {\n    Map<String, String> params = new HashMap<>();\n    params.put(\"segments\", \"true\");\n    String data = callApi(\"7\", \"1\", params);\n    System.out.println(data);\n  }\n}"
          },
          {
            "lang": "powershell",
            "label": "PowerShell",
            "source": "# Get chapter's audio file of a reciter\n$API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\n$ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\n$CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunction Call-Api([string]$id, [string]$chapter_number, [hashtable]$params = @{}) {\n  $path = \"/chapter_recitations/$id/$chapter_number\"\n  $url = \"$API_BASE_URL$path\"\n  if ($params.Count -gt 0) {\n    $query = ($params.GetEnumerator() | ForEach-Object {\n      \"$($_.Key)=$([System.Uri]::EscapeDataString([string]$_.Value))\"\n    }) -join \"&\"\n    $url = \"$url?$query\"\n  }\n  $headers = @{\n    \"x-auth-token\" = $ACCESS_TOKEN\n    \"x-client-id\" = $CLIENT_ID\n  }\n\n  Invoke-RestMethod -Method GET -Uri $url -Headers $headers\n}\n\n# Example usage\n$params = @{ segments = \"true\" }\n$data = Call-Api(\"7\", \"1\", $params)\nWrite-Output $data"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get chapter's audio file of a reciter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapter_recitations/7/1?segments=true' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get chapter's audio file of a reciter using the Quran Foundation API.\n\nEndpoint: GET /chapter_recitations/{id}/{chapter_number}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: The Id of the reciter (e.g., \"7\")\n  chapter_number: The number of the chapter (e.g., \"1\")\nOptional Query Parameters:\n  segments: If true, each verse timestamp includes a `segments` array of [word_index, start_ms, end_ms] triplets. Time values are in milliseconds.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapter_recitations/{id}/{chapter_number}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id, chapter_number and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapter_recitations/{id}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "List of all chapter audio files of a reciter",
        "description": "Get list of chapters' audio files of a reciter",
        "operationId": "chapter-reciter-audio-files",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "audio_files"
                  ],
                  "type": "object",
                  "properties": {
                    "audio_files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chapter-recitation"
                      }
                    }
                  }
                },
                "example": {
                  "audio_files": [
                    {
                      "id": 43,
                      "chapter_id": 22,
                      "file_size": 19779712,
                      "format": "mp3",
                      "total_files": 1,
                      "audio_url": "https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee//022.mp3"
                    },
                    {
                      "id": 87,
                      "chapter_id": 44,
                      "file_size": 6453376,
                      "format": "mp3",
                      "total_files": 1,
                      "audio_url": "https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee//044.mp3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// List of all chapter audio files of a reciter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapter_recitations/${id}`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", {\"language\":\"en\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# List of all chapter audio files of a reciter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, language=None):\n    params = {k: v for k, v in {'language': language}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapter_recitations/{id}',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", language=\"en\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "// List of all chapter audio files of a reciter\npackage main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"net/url\"\n)\n\nconst API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nconst ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nconst CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunc callApi(id string, params map[string]string) (string, error) {\n  path := fmt.Sprintf(\"/chapter_recitations/%s\", id)\n  endpoint := API_BASE_URL + path\n  if params != nil && len(params) > 0 {\n    values := url.Values{}\n    for k, v := range params {\n      values.Set(k, v)\n    }\n    endpoint = endpoint + \"?\" + values.Encode()\n  }\n\n  req, err := http.NewRequest(\"GET\", endpoint, nil)\n  if err != nil {\n    return \"\", err\n  }\n  req.Header.Set(\"x-auth-token\", ACCESS_TOKEN)\n  req.Header.Set(\"x-client-id\", CLIENT_ID)\n\n  resp, err := http.DefaultClient.Do(req)\n  if err != nil {\n    return \"\", err\n  }\n  defer resp.Body.Close()\n\n  body, err := io.ReadAll(resp.Body)\n  if err != nil {\n    return \"\", err\n  }\n  return string(body), nil\n}\n\n// Example usage\nfunc main() {\n  params := map[string]string{\"language\": \"en\"}\n  data, err := callApi(\"7\", params)\n  if err != nil {\n    fmt.Println(\"Error:\", err)\n    return\n  }\n  fmt.Println(data)\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "# List of all chapter audio files of a reciter\nrequire \"net/http\"\nrequire \"uri\"\n\nAPI_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nCLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\ndef call_api(id, params = {})\n  path = \"/chapter_recitations/#{id}\"\n  uri = URI(API_BASE_URL + path)\n  uri.query = URI.encode_www_form(params) if params && !params.empty?\n  request_class = Net::HTTP.const_get(\"Get\")\n  request = request_class.new(uri)\n  request[\"x-auth-token\"] = ACCESS_TOKEN\n  request[\"x-client-id\"] = CLIENT_ID\n\n  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\n  end\n\n  response.body\nend\n\n# Example usage\nparams = { \"language\" => \"en\" }\ndata = call_api(\"7\", params)\nputs data"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "// List of all chapter audio files of a reciter\nusing System;\nusing System.Collections.Generic;\nusing System.Linq;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nconst string API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\nconst string ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\nconst string CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\nstatic async Task<string> CallApiAsync(string id, Dictionary<string, string> query = null)\n{\n    var path = $@\"/chapter_recitations/{id}\";\n    var url = API_BASE_URL + path;\n    if (query != null && query.Count > 0)\n    {\n        var queryString = string.Join(\"&\", query.Select(kvp =>\n            $\"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}\"));\n        url = $\"{url}?{queryString}\";\n    }\n    using var client = new HttpClient();\n    using var request = new HttpRequestMessage(new HttpMethod(\"GET\"), url);\n    request.Headers.Add(\"x-auth-token\", ACCESS_TOKEN);\n    request.Headers.Add(\"x-client-id\", CLIENT_ID);\n\n    using var response = await client.SendAsync(request);\n    response.EnsureSuccessStatusCode();\n    return await response.Content.ReadAsStringAsync();\n}\n\n// Example usage\nvar query = new Dictionary<string, string> { {\"language\", \"en\"} };\nvar data = await CallApiAsync(\"7\", query);\nConsole.WriteLine(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "# List of all chapter audio files of a reciter\n<?php\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nfunction callApi($id, $params = []) {\n  $path = sprintf(\"/chapter_recitations/%s\", $id);\n  $url = API_BASE_URL . $path;\n  if (!empty($params)) {\n    $url .= '?' . http_build_query($params);\n  }\n  $ch = curl_init($url);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\n  curl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-auth-token: ' . ACCESS_TOKEN,\n    'x-client-id: ' . CLIENT_ID\n  ]);\n\n  $response = curl_exec($ch);\n  if ($response === false) {\n    throw new Exception(curl_error($ch));\n  }\n  curl_close($ch);\n  return $response;\n}\n\n// Example usage\n$params = ['language' => 'en'];\n$data = callApi(\"7\", $params);\necho $data;\n?>"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "// List of all chapter audio files of a reciter\nimport java.io.IOException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\npublic class Main {\n  private static final String API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\n  private static final String ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\n  private static final String CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\n  public static String callApi(String id, Map<String, String> params) throws IOException {\n    String path = String.format(\"/chapter_recitations/%s\", id);\n    HttpUrl.Builder urlBuilder = HttpUrl.parse(API_BASE_URL + path).newBuilder();\n    if (params != null) {\n      for (Map.Entry<String, String> entry : params.entrySet()) {\n        urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n      }\n    }\n    String method = \"GET\";\n    RequestBody requestBody = method.equals(\"GET\") ? null : RequestBody.create(new byte[0]);\n    Request request = new Request.Builder()\n      .url(urlBuilder.build())\n      .addHeader(\"x-auth-token\", ACCESS_TOKEN)\n      .addHeader(\"x-client-id\", CLIENT_ID)\n      .method(method, requestBody)\n      .build();\n\n    OkHttpClient client = new OkHttpClient();\n    Response response = client.newCall(request).execute();\n    return response.body().string();\n  }\n\n  public static void main(String[] args) throws Exception {\n    Map<String, String> params = new HashMap<>();\n    params.put(\"language\", \"en\");\n    String data = callApi(\"7\", params);\n    System.out.println(data);\n  }\n}"
          },
          {
            "lang": "powershell",
            "label": "PowerShell",
            "source": "# List of all chapter audio files of a reciter\n$API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\n$ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\n$CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunction Call-Api([string]$id, [hashtable]$params = @{}) {\n  $path = \"/chapter_recitations/$id\"\n  $url = \"$API_BASE_URL$path\"\n  if ($params.Count -gt 0) {\n    $query = ($params.GetEnumerator() | ForEach-Object {\n      \"$($_.Key)=$([System.Uri]::EscapeDataString([string]$_.Value))\"\n    }) -join \"&\"\n    $url = \"$url?$query\"\n  }\n  $headers = @{\n    \"x-auth-token\" = $ACCESS_TOKEN\n    \"x-client-id\" = $CLIENT_ID\n  }\n\n  Invoke-RestMethod -Method GET -Uri $url -Headers $headers\n}\n\n# Example usage\n$params = @{ language = \"en\" }\n$data = Call-Api(\"7\", $params)\nWrite-Output $data"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# List of all chapter audio files of a reciter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapter_recitations/7?language=en' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to list of all chapter audio files of a reciter using the Quran Foundation API.\n\nEndpoint: GET /chapter_recitations/{id}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: The Id of the reciter (e.g., \"7\")\nOptional Query Parameters:\n  language: Optional parameter\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapter_recitations/{id}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/audio/reciters/{reciter_id}/timestamp": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Get timestamp range",
        "description": "Find the timestamp range for a reciter's audio. Provide a `chapter_number` to get the full chapter range, or a `verse_key`/`verse_id` to scope to a verse. Use `word` or (`word_from`,`word_to`) to narrow to word timings. All time values are milliseconds.",
        "operationId": "audio-reciter-timestamp",
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chapter_number",
            "in": "query",
            "description": "Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "verse_key",
            "in": "query",
            "description": "Verse key (e.g., 2:255). If provided, returns the verse timing range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verse_id",
            "in": "query",
            "description": "Verse id. If provided, returns the verse timing range.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "word",
            "in": "query",
            "description": "1-based word index within the verse. Only applies when a verse is selected.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "word_from",
            "in": "query",
            "description": "1-based start word index within the verse. Use with `word_to`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "word_to",
            "in": "query",
            "description": "1-based end word index within the verse. Use with `word_from`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "timestamp_from": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Start offset in milliseconds from the beginning of the file."
                        },
                        "timestamp_to": {
                          "type": "integer",
                          "format": "int32",
                          "description": "End offset in milliseconds from the beginning of the file."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "timestamp_from": 0,
                    "timestamp_to": 6493
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get timestamp range\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(reciter_id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/audio/reciters/${reciter_id}/timestamp`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", {\"chapter_number\":\"1\",\"verse_key\":\"2:255\",\"verse_id\":\"262\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get timestamp range\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(reciter_id, chapter_number=None, verse_key=None, verse_id=None):\n    params = {k: v for k, v in {'chapter_number': chapter_number, 'verse_key': verse_key, 'verse_id': verse_id}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/audio/reciters/{reciter_id}/timestamp',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", chapter_number=\"1\", verse_key=\"2:255\", verse_id=\"262\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "// Get timestamp range\npackage main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"net/url\"\n)\n\nconst API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nconst ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nconst CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunc callApi(reciter_id string, params map[string]string) (string, error) {\n  path := fmt.Sprintf(\"/audio/reciters/%s/timestamp\", reciter_id)\n  endpoint := API_BASE_URL + path\n  if params != nil && len(params) > 0 {\n    values := url.Values{}\n    for k, v := range params {\n      values.Set(k, v)\n    }\n    endpoint = endpoint + \"?\" + values.Encode()\n  }\n\n  req, err := http.NewRequest(\"GET\", endpoint, nil)\n  if err != nil {\n    return \"\", err\n  }\n  req.Header.Set(\"x-auth-token\", ACCESS_TOKEN)\n  req.Header.Set(\"x-client-id\", CLIENT_ID)\n\n  resp, err := http.DefaultClient.Do(req)\n  if err != nil {\n    return \"\", err\n  }\n  defer resp.Body.Close()\n\n  body, err := io.ReadAll(resp.Body)\n  if err != nil {\n    return \"\", err\n  }\n  return string(body), nil\n}\n\n// Example usage\nfunc main() {\n  params := map[string]string{\"chapter_number\": \"1\", \"verse_key\": \"2:255\", \"verse_id\": \"262\"}\n  data, err := callApi(\"7\", params)\n  if err != nil {\n    fmt.Println(\"Error:\", err)\n    return\n  }\n  fmt.Println(data)\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "# Get timestamp range\nrequire \"net/http\"\nrequire \"uri\"\n\nAPI_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nCLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\ndef call_api(reciter_id, params = {})\n  path = \"/audio/reciters/#{reciter_id}/timestamp\"\n  uri = URI(API_BASE_URL + path)\n  uri.query = URI.encode_www_form(params) if params && !params.empty?\n  request_class = Net::HTTP.const_get(\"Get\")\n  request = request_class.new(uri)\n  request[\"x-auth-token\"] = ACCESS_TOKEN\n  request[\"x-client-id\"] = CLIENT_ID\n\n  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\n  end\n\n  response.body\nend\n\n# Example usage\nparams = { \"chapter_number\" => \"1\", \"verse_key\" => \"2:255\", \"verse_id\" => \"262\" }\ndata = call_api(\"7\", params)\nputs data"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "// Get timestamp range\nusing System;\nusing System.Collections.Generic;\nusing System.Linq;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nconst string API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\nconst string ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\nconst string CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\nstatic async Task<string> CallApiAsync(string reciter_id, Dictionary<string, string> query = null)\n{\n    var path = $@\"/audio/reciters/{reciter_id}/timestamp\";\n    var url = API_BASE_URL + path;\n    if (query != null && query.Count > 0)\n    {\n        var queryString = string.Join(\"&\", query.Select(kvp =>\n            $\"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}\"));\n        url = $\"{url}?{queryString}\";\n    }\n    using var client = new HttpClient();\n    using var request = new HttpRequestMessage(new HttpMethod(\"GET\"), url);\n    request.Headers.Add(\"x-auth-token\", ACCESS_TOKEN);\n    request.Headers.Add(\"x-client-id\", CLIENT_ID);\n\n    using var response = await client.SendAsync(request);\n    response.EnsureSuccessStatusCode();\n    return await response.Content.ReadAsStringAsync();\n}\n\n// Example usage\nvar query = new Dictionary<string, string> { {\"chapter_number\", \"1\"}, {\"verse_key\", \"2:255\"}, {\"verse_id\", \"262\"} };\nvar data = await CallApiAsync(\"7\", query);\nConsole.WriteLine(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "# Get timestamp range\n<?php\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nfunction callApi($reciter_id, $params = []) {\n  $path = sprintf(\"/audio/reciters/%s/timestamp\", $reciter_id);\n  $url = API_BASE_URL . $path;\n  if (!empty($params)) {\n    $url .= '?' . http_build_query($params);\n  }\n  $ch = curl_init($url);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\n  curl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-auth-token: ' . ACCESS_TOKEN,\n    'x-client-id: ' . CLIENT_ID\n  ]);\n\n  $response = curl_exec($ch);\n  if ($response === false) {\n    throw new Exception(curl_error($ch));\n  }\n  curl_close($ch);\n  return $response;\n}\n\n// Example usage\n$params = ['chapter_number' => '1', 'verse_key' => '2:255', 'verse_id' => '262'];\n$data = callApi(\"7\", $params);\necho $data;\n?>"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "// Get timestamp range\nimport java.io.IOException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\npublic class Main {\n  private static final String API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\n  private static final String ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\n  private static final String CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\n  public static String callApi(String reciter_id, Map<String, String> params) throws IOException {\n    String path = String.format(\"/audio/reciters/%s/timestamp\", reciter_id);\n    HttpUrl.Builder urlBuilder = HttpUrl.parse(API_BASE_URL + path).newBuilder();\n    if (params != null) {\n      for (Map.Entry<String, String> entry : params.entrySet()) {\n        urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n      }\n    }\n    String method = \"GET\";\n    RequestBody requestBody = method.equals(\"GET\") ? null : RequestBody.create(new byte[0]);\n    Request request = new Request.Builder()\n      .url(urlBuilder.build())\n      .addHeader(\"x-auth-token\", ACCESS_TOKEN)\n      .addHeader(\"x-client-id\", CLIENT_ID)\n      .method(method, requestBody)\n      .build();\n\n    OkHttpClient client = new OkHttpClient();\n    Response response = client.newCall(request).execute();\n    return response.body().string();\n  }\n\n  public static void main(String[] args) throws Exception {\n    Map<String, String> params = new HashMap<>();\n    params.put(\"chapter_number\", \"1\");\n    params.put(\"verse_key\", \"2:255\");\n    params.put(\"verse_id\", \"262\");\n    String data = callApi(\"7\", params);\n    System.out.println(data);\n  }\n}"
          },
          {
            "lang": "powershell",
            "label": "PowerShell",
            "source": "# Get timestamp range\n$API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\n$ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\n$CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunction Call-Api([string]$reciter_id, [hashtable]$params = @{}) {\n  $path = \"/audio/reciters/$reciter_id/timestamp\"\n  $url = \"$API_BASE_URL$path\"\n  if ($params.Count -gt 0) {\n    $query = ($params.GetEnumerator() | ForEach-Object {\n      \"$($_.Key)=$([System.Uri]::EscapeDataString([string]$_.Value))\"\n    }) -join \"&\"\n    $url = \"$url?$query\"\n  }\n  $headers = @{\n    \"x-auth-token\" = $ACCESS_TOKEN\n    \"x-client-id\" = $CLIENT_ID\n  }\n\n  Invoke-RestMethod -Method GET -Uri $url -Headers $headers\n}\n\n# Example usage\n$params = @{ chapter_number = \"1\"; verse_key = \"2:255\"; verse_id = \"262\" }\n$data = Call-Api(\"7\", $params)\nWrite-Output $data"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get timestamp range\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/audio/reciters/7/timestamp?chapter_number=1&verse_key=2%3A255&verse_id=262' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get timestamp range using the Quran Foundation API.\n\nEndpoint: GET /audio/reciters/{reciter_id}/timestamp\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  reciter_id: The Id of the reciter (e.g., \"7\")\nOptional Query Parameters:\n  chapter_number: Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.\n  verse_key: Verse key (e.g., 2:255). If provided, returns the verse timing range.\n  verse_id: Verse id. If provided, returns the verse timing range.\n  word: 1-based word index within the verse. Only applies when a verse is selected.\n  word_from: 1-based start word index within the verse. Use with `word_to`.\n  word_to: 1-based end word index within the verse. Use with `word_from`.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/audio/reciters/{reciter_id}/timestamp?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts reciter_id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/audio/reciters/{reciter_id}/lookup": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Lookup verse by timestamp",
        "description": "Find the closest verse timing segment for a reciter and chapter at the given timestamp. All time values are milliseconds.",
        "operationId": "audio-reciter-lookup",
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chapter_number",
            "in": "query",
            "description": "Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "verse_key",
            "in": "query",
            "description": "Verse key (e.g., 2:255). Used only to derive the chapter when `chapter_number` is omitted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verse_id",
            "in": "query",
            "description": "Verse id. Used only to derive the chapter when `chapter_number` is omitted.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp in milliseconds to look up.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "description": "If true, include word-level timing segments for the verse.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "verse_key": {
                          "type": "string"
                        },
                        "timestamp_from": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Start offset in milliseconds from the beginning of the file."
                        },
                        "timestamp_to": {
                          "type": "integer",
                          "format": "int32",
                          "description": "End offset in milliseconds from the beginning of the file."
                        },
                        "duration": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Duration in milliseconds (mirrors source data; may be negative in legacy data)."
                        },
                        "segments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SegmentTriplet"
                          },
                          "description": "Present only when `segments=true`. Word-level timing triplets for the verse.",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "verse_key": "1:1",
                    "timestamp_from": 0,
                    "timestamp_to": 6493,
                    "duration": -6493,
                    "segments": [
                      [
                        1,
                        0,
                        630
                      ],
                      [
                        2,
                        650,
                        1570
                      ]
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Lookup verse by timestamp\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(reciter_id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/audio/reciters/${reciter_id}/lookup`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", {\"chapter_number\":\"1\",\"verse_key\":\"2:255\",\"verse_id\":\"262\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Lookup verse by timestamp\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(reciter_id, chapter_number=None, verse_key=None, verse_id=None):\n    params = {k: v for k, v in {'chapter_number': chapter_number, 'verse_key': verse_key, 'verse_id': verse_id}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/audio/reciters/{reciter_id}/lookup',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", chapter_number=\"1\", verse_key=\"2:255\", verse_id=\"262\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "// Lookup verse by timestamp\npackage main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"net/url\"\n)\n\nconst API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nconst ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nconst CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunc callApi(reciter_id string, params map[string]string) (string, error) {\n  path := fmt.Sprintf(\"/audio/reciters/%s/lookup\", reciter_id)\n  endpoint := API_BASE_URL + path\n  if params != nil && len(params) > 0 {\n    values := url.Values{}\n    for k, v := range params {\n      values.Set(k, v)\n    }\n    endpoint = endpoint + \"?\" + values.Encode()\n  }\n\n  req, err := http.NewRequest(\"GET\", endpoint, nil)\n  if err != nil {\n    return \"\", err\n  }\n  req.Header.Set(\"x-auth-token\", ACCESS_TOKEN)\n  req.Header.Set(\"x-client-id\", CLIENT_ID)\n\n  resp, err := http.DefaultClient.Do(req)\n  if err != nil {\n    return \"\", err\n  }\n  defer resp.Body.Close()\n\n  body, err := io.ReadAll(resp.Body)\n  if err != nil {\n    return \"\", err\n  }\n  return string(body), nil\n}\n\n// Example usage\nfunc main() {\n  params := map[string]string{\"chapter_number\": \"1\", \"verse_key\": \"2:255\", \"verse_id\": \"262\"}\n  data, err := callApi(\"7\", params)\n  if err != nil {\n    fmt.Println(\"Error:\", err)\n    return\n  }\n  fmt.Println(data)\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "# Lookup verse by timestamp\nrequire \"net/http\"\nrequire \"uri\"\n\nAPI_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nCLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\ndef call_api(reciter_id, params = {})\n  path = \"/audio/reciters/#{reciter_id}/lookup\"\n  uri = URI(API_BASE_URL + path)\n  uri.query = URI.encode_www_form(params) if params && !params.empty?\n  request_class = Net::HTTP.const_get(\"Get\")\n  request = request_class.new(uri)\n  request[\"x-auth-token\"] = ACCESS_TOKEN\n  request[\"x-client-id\"] = CLIENT_ID\n\n  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\n  end\n\n  response.body\nend\n\n# Example usage\nparams = { \"chapter_number\" => \"1\", \"verse_key\" => \"2:255\", \"verse_id\" => \"262\" }\ndata = call_api(\"7\", params)\nputs data"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "// Lookup verse by timestamp\nusing System;\nusing System.Collections.Generic;\nusing System.Linq;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nconst string API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\nconst string ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\nconst string CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\nstatic async Task<string> CallApiAsync(string reciter_id, Dictionary<string, string> query = null)\n{\n    var path = $@\"/audio/reciters/{reciter_id}/lookup\";\n    var url = API_BASE_URL + path;\n    if (query != null && query.Count > 0)\n    {\n        var queryString = string.Join(\"&\", query.Select(kvp =>\n            $\"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}\"));\n        url = $\"{url}?{queryString}\";\n    }\n    using var client = new HttpClient();\n    using var request = new HttpRequestMessage(new HttpMethod(\"GET\"), url);\n    request.Headers.Add(\"x-auth-token\", ACCESS_TOKEN);\n    request.Headers.Add(\"x-client-id\", CLIENT_ID);\n\n    using var response = await client.SendAsync(request);\n    response.EnsureSuccessStatusCode();\n    return await response.Content.ReadAsStringAsync();\n}\n\n// Example usage\nvar query = new Dictionary<string, string> { {\"chapter_number\", \"1\"}, {\"verse_key\", \"2:255\"}, {\"verse_id\", \"262\"} };\nvar data = await CallApiAsync(\"7\", query);\nConsole.WriteLine(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "# Lookup verse by timestamp\n<?php\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nfunction callApi($reciter_id, $params = []) {\n  $path = sprintf(\"/audio/reciters/%s/lookup\", $reciter_id);\n  $url = API_BASE_URL . $path;\n  if (!empty($params)) {\n    $url .= '?' . http_build_query($params);\n  }\n  $ch = curl_init($url);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\n  curl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-auth-token: ' . ACCESS_TOKEN,\n    'x-client-id: ' . CLIENT_ID\n  ]);\n\n  $response = curl_exec($ch);\n  if ($response === false) {\n    throw new Exception(curl_error($ch));\n  }\n  curl_close($ch);\n  return $response;\n}\n\n// Example usage\n$params = ['chapter_number' => '1', 'verse_key' => '2:255', 'verse_id' => '262'];\n$data = callApi(\"7\", $params);\necho $data;\n?>"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "// Lookup verse by timestamp\nimport java.io.IOException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\npublic class Main {\n  private static final String API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\n  private static final String ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\n  private static final String CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\n  public static String callApi(String reciter_id, Map<String, String> params) throws IOException {\n    String path = String.format(\"/audio/reciters/%s/lookup\", reciter_id);\n    HttpUrl.Builder urlBuilder = HttpUrl.parse(API_BASE_URL + path).newBuilder();\n    if (params != null) {\n      for (Map.Entry<String, String> entry : params.entrySet()) {\n        urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n      }\n    }\n    String method = \"GET\";\n    RequestBody requestBody = method.equals(\"GET\") ? null : RequestBody.create(new byte[0]);\n    Request request = new Request.Builder()\n      .url(urlBuilder.build())\n      .addHeader(\"x-auth-token\", ACCESS_TOKEN)\n      .addHeader(\"x-client-id\", CLIENT_ID)\n      .method(method, requestBody)\n      .build();\n\n    OkHttpClient client = new OkHttpClient();\n    Response response = client.newCall(request).execute();\n    return response.body().string();\n  }\n\n  public static void main(String[] args) throws Exception {\n    Map<String, String> params = new HashMap<>();\n    params.put(\"chapter_number\", \"1\");\n    params.put(\"verse_key\", \"2:255\");\n    params.put(\"verse_id\", \"262\");\n    String data = callApi(\"7\", params);\n    System.out.println(data);\n  }\n}"
          },
          {
            "lang": "powershell",
            "label": "PowerShell",
            "source": "# Lookup verse by timestamp\n$API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\n$ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\n$CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunction Call-Api([string]$reciter_id, [hashtable]$params = @{}) {\n  $path = \"/audio/reciters/$reciter_id/lookup\"\n  $url = \"$API_BASE_URL$path\"\n  if ($params.Count -gt 0) {\n    $query = ($params.GetEnumerator() | ForEach-Object {\n      \"$($_.Key)=$([System.Uri]::EscapeDataString([string]$_.Value))\"\n    }) -join \"&\"\n    $url = \"$url?$query\"\n  }\n  $headers = @{\n    \"x-auth-token\" = $ACCESS_TOKEN\n    \"x-client-id\" = $CLIENT_ID\n  }\n\n  Invoke-RestMethod -Method GET -Uri $url -Headers $headers\n}\n\n# Example usage\n$params = @{ chapter_number = \"1\"; verse_key = \"2:255\"; verse_id = \"262\" }\n$data = Call-Api(\"7\", $params)\nWrite-Output $data"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Lookup verse by timestamp\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/audio/reciters/7/lookup?chapter_number=1&verse_key=2%3A255&verse_id=262' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to lookup verse by timestamp using the Quran Foundation API.\n\nEndpoint: GET /audio/reciters/{reciter_id}/lookup\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  reciter_id: The Id of the reciter (e.g., \"7\")\nOptional Query Parameters:\n  chapter_number: Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.\n  verse_key: Verse key (e.g., 2:255). Used only to derive the chapter when `chapter_number` is omitted.\n  verse_id: Verse id. Used only to derive the chapter when `chapter_number` is omitted.\n  timestamp: Timestamp in milliseconds to look up.\n  segments: If true, include word-level timing segments for the verse.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/audio/reciters/{reciter_id}/lookup?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts reciter_id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapters": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "List Chapters",
        "description": "Get list of Chapter. When a `language` query parameter is supplied the translated chapter names are looked up in that language, and if not available the lookup automatically falls back to the default English translations.",
        "operationId": "list-chapters",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "chapters"
                  ],
                  "properties": {
                    "chapters": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chapter"
                      }
                    }
                  }
                },
                "example": {
                  "chapters": [
                    {
                      "id": 1,
                      "revelation_place": "makkah",
                      "revelation_order": 5,
                      "bismillah_pre": false,
                      "name_simple": "Al-Fatihah",
                      "name_complex": "Al-Fātiĥah",
                      "name_arabic": "الفاتحة",
                      "verses_count": 7,
                      "pages": [
                        1,
                        1
                      ],
                      "translated_name": {
                        "language_name": "english",
                        "name": "The Opener"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// List Chapters\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapters`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi({\"language\":\"en\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# List Chapters\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(language=None):\n    params = {k: v for k, v in {'language': language}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapters',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(language=\"en\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "// List Chapters\npackage main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"net/url\"\n)\n\nconst API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nconst ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nconst CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunc callApi(params map[string]string) (string, error) {\n  path := \"/chapters\"\n  endpoint := API_BASE_URL + path\n  if params != nil && len(params) > 0 {\n    values := url.Values{}\n    for k, v := range params {\n      values.Set(k, v)\n    }\n    endpoint = endpoint + \"?\" + values.Encode()\n  }\n\n  req, err := http.NewRequest(\"GET\", endpoint, nil)\n  if err != nil {\n    return \"\", err\n  }\n  req.Header.Set(\"x-auth-token\", ACCESS_TOKEN)\n  req.Header.Set(\"x-client-id\", CLIENT_ID)\n\n  resp, err := http.DefaultClient.Do(req)\n  if err != nil {\n    return \"\", err\n  }\n  defer resp.Body.Close()\n\n  body, err := io.ReadAll(resp.Body)\n  if err != nil {\n    return \"\", err\n  }\n  return string(body), nil\n}\n\n// Example usage\nfunc main() {\n  params := map[string]string{\"language\": \"en\"}\n  data, err := callApi(params)\n  if err != nil {\n    fmt.Println(\"Error:\", err)\n    return\n  }\n  fmt.Println(data)\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "# List Chapters\nrequire \"net/http\"\nrequire \"uri\"\n\nAPI_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nCLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\ndef call_api(params = {})\n  path = \"/chapters\"\n  uri = URI(API_BASE_URL + path)\n  uri.query = URI.encode_www_form(params) if params && !params.empty?\n  request_class = Net::HTTP.const_get(\"Get\")\n  request = request_class.new(uri)\n  request[\"x-auth-token\"] = ACCESS_TOKEN\n  request[\"x-client-id\"] = CLIENT_ID\n\n  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\n  end\n\n  response.body\nend\n\n# Example usage\nparams = { \"language\" => \"en\" }\ndata = call_api(params)\nputs data"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "// List Chapters\nusing System;\nusing System.Collections.Generic;\nusing System.Linq;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nconst string API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\nconst string ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\nconst string CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\nstatic async Task<string> CallApiAsync(Dictionary<string, string> query = null)\n{\n    var path = $@\"/chapters\";\n    var url = API_BASE_URL + path;\n    if (query != null && query.Count > 0)\n    {\n        var queryString = string.Join(\"&\", query.Select(kvp =>\n            $\"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}\"));\n        url = $\"{url}?{queryString}\";\n    }\n    using var client = new HttpClient();\n    using var request = new HttpRequestMessage(new HttpMethod(\"GET\"), url);\n    request.Headers.Add(\"x-auth-token\", ACCESS_TOKEN);\n    request.Headers.Add(\"x-client-id\", CLIENT_ID);\n\n    using var response = await client.SendAsync(request);\n    response.EnsureSuccessStatusCode();\n    return await response.Content.ReadAsStringAsync();\n}\n\n// Example usage\nvar query = new Dictionary<string, string> { {\"language\", \"en\"} };\nvar data = await CallApiAsync(query);\nConsole.WriteLine(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "# List Chapters\n<?php\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nfunction callApi($params = []) {\n  $path = \"/chapters\";\n  $url = API_BASE_URL . $path;\n  if (!empty($params)) {\n    $url .= '?' . http_build_query($params);\n  }\n  $ch = curl_init($url);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\n  curl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-auth-token: ' . ACCESS_TOKEN,\n    'x-client-id: ' . CLIENT_ID\n  ]);\n\n  $response = curl_exec($ch);\n  if ($response === false) {\n    throw new Exception(curl_error($ch));\n  }\n  curl_close($ch);\n  return $response;\n}\n\n// Example usage\n$params = ['language' => 'en'];\n$data = callApi($params);\necho $data;\n?>"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "// List Chapters\nimport java.io.IOException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\npublic class Main {\n  private static final String API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\n  private static final String ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\n  private static final String CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\n  public static String callApi(Map<String, String> params) throws IOException {\n    String path = \"/chapters\";\n    HttpUrl.Builder urlBuilder = HttpUrl.parse(API_BASE_URL + path).newBuilder();\n    if (params != null) {\n      for (Map.Entry<String, String> entry : params.entrySet()) {\n        urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n      }\n    }\n    String method = \"GET\";\n    RequestBody requestBody = method.equals(\"GET\") ? null : RequestBody.create(new byte[0]);\n    Request request = new Request.Builder()\n      .url(urlBuilder.build())\n      .addHeader(\"x-auth-token\", ACCESS_TOKEN)\n      .addHeader(\"x-client-id\", CLIENT_ID)\n      .method(method, requestBody)\n      .build();\n\n    OkHttpClient client = new OkHttpClient();\n    Response response = client.newCall(request).execute();\n    return response.body().string();\n  }\n\n  public static void main(String[] args) throws Exception {\n    Map<String, String> params = new HashMap<>();\n    params.put(\"language\", \"en\");\n    String data = callApi(params);\n    System.out.println(data);\n  }\n}"
          },
          {
            "lang": "powershell",
            "label": "PowerShell",
            "source": "# List Chapters\n$API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\n$ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\n$CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunction Call-Api([hashtable]$params = @{}) {\n  $path = \"/chapters\"\n  $url = \"$API_BASE_URL$path\"\n  if ($params.Count -gt 0) {\n    $query = ($params.GetEnumerator() | ForEach-Object {\n      \"$($_.Key)=$([System.Uri]::EscapeDataString([string]$_.Value))\"\n    }) -join \"&\"\n    $url = \"$url?$query\"\n  }\n  $headers = @{\n    \"x-auth-token\" = $ACCESS_TOKEN\n    \"x-client-id\" = $CLIENT_ID\n  }\n\n  Invoke-RestMethod -Method GET -Uri $url -Headers $headers\n}\n\n# Example usage\n$params = @{ language = \"en\" }\n$data = Call-Api($params)\nWrite-Output $data"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# List Chapters\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapters?language=en' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to list chapters using the Quran Foundation API.\n\nEndpoint: GET /chapters\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nOptional Query Parameters:\n  language: Optional parameter\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapters?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapters/{id}": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "Get Chapter",
        "description": "Get details of a single Chapter.",
        "operationId": "GET-chapter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Chapter ID ( 1-114)",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter": {
                      "$ref": "#/components/schemas/chapter"
                    }
                  }
                },
                "example": {
                  "chapter": {
                    "id": 1,
                    "revelation_place": "makkah",
                    "revelation_order": 5,
                    "bismillah_pre": false,
                    "name_simple": "Al-Fatihah",
                    "name_complex": "Al-Fātiĥah",
                    "name_arabic": "الفاتحة",
                    "verses_count": 7,
                    "pages": [
                      1,
                      1
                    ],
                    "translated_name": {
                      "language_name": "english",
                      "name": "The Opener"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get Chapter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapters/${id}`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"1\", {\"language\":\"en\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get Chapter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, language=None):\n    params = {k: v for k, v in {'language': language}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapters/{id}',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"1\", language=\"en\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "// Get Chapter\npackage main\n\nimport (\n  \"fmt\"\n  \"io\"\n  \"net/http\"\n  \"net/url\"\n)\n\nconst API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nconst ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nconst CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunc callApi(id string, params map[string]string) (string, error) {\n  path := fmt.Sprintf(\"/chapters/%s\", id)\n  endpoint := API_BASE_URL + path\n  if params != nil && len(params) > 0 {\n    values := url.Values{}\n    for k, v := range params {\n      values.Set(k, v)\n    }\n    endpoint = endpoint + \"?\" + values.Encode()\n  }\n\n  req, err := http.NewRequest(\"GET\", endpoint, nil)\n  if err != nil {\n    return \"\", err\n  }\n  req.Header.Set(\"x-auth-token\", ACCESS_TOKEN)\n  req.Header.Set(\"x-client-id\", CLIENT_ID)\n\n  resp, err := http.DefaultClient.Do(req)\n  if err != nil {\n    return \"\", err\n  }\n  defer resp.Body.Close()\n\n  body, err := io.ReadAll(resp.Body)\n  if err != nil {\n    return \"\", err\n  }\n  return string(body), nil\n}\n\n// Example usage\nfunc main() {\n  params := map[string]string{\"language\": \"en\"}\n  data, err := callApi(\"1\", params)\n  if err != nil {\n    fmt.Println(\"Error:\", err)\n    return\n  }\n  fmt.Println(data)\n}"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "# Get Chapter\nrequire \"net/http\"\nrequire \"uri\"\n\nAPI_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\nACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\nCLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\ndef call_api(id, params = {})\n  path = \"/chapters/#{id}\"\n  uri = URI(API_BASE_URL + path)\n  uri.query = URI.encode_www_form(params) if params && !params.empty?\n  request_class = Net::HTTP.const_get(\"Get\")\n  request = request_class.new(uri)\n  request[\"x-auth-token\"] = ACCESS_TOKEN\n  request[\"x-client-id\"] = CLIENT_ID\n\n  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\n  end\n\n  response.body\nend\n\n# Example usage\nparams = { \"language\" => \"en\" }\ndata = call_api(\"1\", params)\nputs data"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "// Get Chapter\nusing System;\nusing System.Collections.Generic;\nusing System.Linq;\nusing System.Net.Http;\nusing System.Threading.Tasks;\n\nconst string API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\nconst string ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\nconst string CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\nstatic async Task<string> CallApiAsync(string id, Dictionary<string, string> query = null)\n{\n    var path = $@\"/chapters/{id}\";\n    var url = API_BASE_URL + path;\n    if (query != null && query.Count > 0)\n    {\n        var queryString = string.Join(\"&\", query.Select(kvp =>\n            $\"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}\"));\n        url = $\"{url}?{queryString}\";\n    }\n    using var client = new HttpClient();\n    using var request = new HttpRequestMessage(new HttpMethod(\"GET\"), url);\n    request.Headers.Add(\"x-auth-token\", ACCESS_TOKEN);\n    request.Headers.Add(\"x-client-id\", CLIENT_ID);\n\n    using var response = await client.SendAsync(request);\n    response.EnsureSuccessStatusCode();\n    return await response.Content.ReadAsStringAsync();\n}\n\n// Example usage\nvar query = new Dictionary<string, string> { {\"language\", \"en\"} };\nvar data = await CallApiAsync(\"1\", query);\nConsole.WriteLine(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "# Get Chapter\n<?php\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nfunction callApi($id, $params = []) {\n  $path = sprintf(\"/chapters/%s\", $id);\n  $url = API_BASE_URL . $path;\n  if (!empty($params)) {\n    $url .= '?' . http_build_query($params);\n  }\n  $ch = curl_init($url);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'GET');\n  curl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-auth-token: ' . ACCESS_TOKEN,\n    'x-client-id: ' . CLIENT_ID\n  ]);\n\n  $response = curl_exec($ch);\n  if ($response === false) {\n    throw new Exception(curl_error($ch));\n  }\n  curl_close($ch);\n  return $response;\n}\n\n// Example usage\n$params = ['language' => 'en'];\n$data = callApi(\"1\", $params);\necho $data;\n?>"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "// Get Chapter\nimport java.io.IOException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\npublic class Main {\n  private static final String API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\";\n  private static final String ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\";\n  private static final String CLIENT_ID = \"<YOUR_CLIENT_ID>\";\n\n  public static String callApi(String id, Map<String, String> params) throws IOException {\n    String path = String.format(\"/chapters/%s\", id);\n    HttpUrl.Builder urlBuilder = HttpUrl.parse(API_BASE_URL + path).newBuilder();\n    if (params != null) {\n      for (Map.Entry<String, String> entry : params.entrySet()) {\n        urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n      }\n    }\n    String method = \"GET\";\n    RequestBody requestBody = method.equals(\"GET\") ? null : RequestBody.create(new byte[0]);\n    Request request = new Request.Builder()\n      .url(urlBuilder.build())\n      .addHeader(\"x-auth-token\", ACCESS_TOKEN)\n      .addHeader(\"x-client-id\", CLIENT_ID)\n      .method(method, requestBody)\n      .build();\n\n    OkHttpClient client = new OkHttpClient();\n    Response response = client.newCall(request).execute();\n    return response.body().string();\n  }\n\n  public static void main(String[] args) throws Exception {\n    Map<String, String> params = new HashMap<>();\n    params.put(\"language\", \"en\");\n    String data = callApi(\"1\", params);\n    System.out.println(data);\n  }\n}"
          },
          {
            "lang": "powershell",
            "label": "PowerShell",
            "source": "# Get Chapter\n$API_BASE_URL = \"https://apis.quran.foundation/content/api/v4\"\n$ACCESS_TOKEN = \"<YOUR_ACCESS_TOKEN>\"\n$CLIENT_ID = \"<YOUR_CLIENT_ID>\"\n\nfunction Call-Api([string]$id, [hashtable]$params = @{}) {\n  $path = \"/chapters/$id\"\n  $url = \"$API_BASE_URL$path\"\n  if ($params.Count -gt 0) {\n    $query = ($params.GetEnumerator() | ForEach-Object {\n      \"$($_.Key)=$([System.Uri]::EscapeDataString([string]$_.Value))\"\n    }) -join \"&\"\n    $url = \"$url?$query\"\n  }\n  $headers = @{\n    \"x-auth-token\" = $ACCESS_TOKEN\n    \"x-client-id\" = $CLIENT_ID\n  }\n\n  Invoke-RestMethod -Method GET -Uri $url -Headers $headers\n}\n\n# Example usage\n$params = @{ language = \"en\" }\n$data = Call-Api(\"1\", $params)\nWrite-Output $data"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get Chapter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapters/1?language=en' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get chapter using the Quran Foundation API.\n\nEndpoint: GET /chapters/{id}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: Chapter ID ( 1-114) (e.g., \"1\")\nOptional Query Parameters:\n  language: Optional parameter\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapters/{id}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapters/{id}/info": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "Get Chapter Info",
        "description": "Get Chapter Info in specific language. Default to `English`.",
        "operationId": "get-chapter-info",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Chapter number (1-114)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language ISO code for translated metadata. Defaults to English."
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Locale fallback if a language code is not provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter_info": {
                      "$ref": "#/components/schemas/chapter-info"
                    }
                  }
                },
                "example": {
                  "chapter_info": {
                    "id": 1,
                    "chapter_id": 1,
                    "language_name": "english",
[...]
