{
  "extends": [
    "eslint:recommended",
    "plugin:@next/next/recommended",
    "react-app",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  }
}
